<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <script src="/js/dependencies/jQuery.js"></script>
  <script src="/js/dependencies/Vue.js"></script>
  <script src="/js/dependencies/Socket.io.js"></script>
  <script src="/js/CP.js"></script>
  <script src="/js/dependencies/js.cookie.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="/styles/mdl.css">
  <script defer src="/js/dependencies/mdl.js"></script>
</head>
<body>
<div class="mdl-grid" id="app">
  <div class="mdl-cell mdl-cell--1-col"></div>
  <div class="mdl-cell mdl-cell--10-col">
    <h1>后台</h1>
  </div>
  <div class="mdl-cell mdl-cell--1-col"></div>
  <div class="mdl-cell mdl-cell--1-col"></div>
  <div class="mdl-cell mdl-cell--4-col">
    <h3>你的订阅列表</h3>
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
      <thead>
      <tr>
        <th class="mdl-data-table__cell--non-numeric">#</th>
        <th class="mdl-data-table__cell--non-numeric">Spider</th>
        <th class="mdl-data-table__cell--non-numeric">删除</th>
      </tr>
      </thead>
      <tbody v-for="spider in subscriptions">
      <tr title="{{spider.description}} 每{{spider.frequency}}刷新">
        <td class="mdl-data-table__cell--non-numeric">{{spider.id}}</td>
        <td class="mdl-data-table__cell--non-numeric">{{spider.name}}</td>
        <td class="mdl-data-table__cell--non-numeric">
          <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect"
                  v-on:click="removeSubscription($index)">
            <i class="material-icons">close</i>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="mdl-cell mdl-cell--6-col">
    <h3>这些也可以订阅的</h3>
    <div v-for="spider in spiderMarket">
      <div class="mdl-card mdl-shadow--2dp" style="width: 100%;">
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">
            {{ spider.name }}
          </h2>
        </div>
        <div class="mdl-card__supporting-text">
          {{ spider.description }}
          <br>
          每{{ spider.frequency }}刷新。
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" v-on:click="subscribe($index)">
            {{ !!spider.isSubscribed ? '已订阅' : '订阅' }}
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--1-col"></div>
</div>
</body>
<style>
  table {
    width: 100%;
  }
</style>
</html>
