<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Shiny!</title>
  <!-- dependencies -->

  <script src="/js/dependencies/jQuery.js"></script>
  <script src="/js/dependencies/js.cookie.js"></script>
  <script src="/js/dependencies/Vue.js"></script>
  <script src="/js/dependencies/Socket.io.js"></script>
  <script src="/js/dependencies/mdl.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="/styles/mdl.css">

  <!-- dependencies -->
  <script src="/js/Main.js"></script>

</head>
<body>
<div class="mdl-grid" id="app">
  <div class="mdl-cell mdl-cell--1-col"></div>
  <div class="mdl-cell mdl-cell--10-col">
    <div v-for="event in events" transition="fade">
      <div class="mdl-card mdl-shadow--2dp" style="width: 100%;">
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">
            <a href="{{ event.data.link }}" target="_blank">{{{ event.data.title }}}</a>
            <h4 class="mdl-card__subtitle-text">{{ event.spiderName }} # {{ event.hash }} : {{ event.level }}</h4>
          </h2>
        </div>
        <div class="mdl-card__supporting-text">
          {{{ event.data.content }}}
        </div>
        <div class="mdl-card__menu">
          <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" v-on:click="removeEvent($index)">
            <i class="material-icons">close</i>
          </button>
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" v-on:click="block($index)">
            屏蔽此来源
          </a>
          <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" v-on:click="star($index)">
            特别关注此来源
          </a>
        </div>
      </div>
    </div>
    <hr>
    <div class="mdl-card mdl-shadow--2dp" style="width: 100%;">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">
          提示
        </h2>
      </div>
      <div class="mdl-card__supporting-text">
        登录以享受完整功能
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <template v-if="!isLogin">
          <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" v-on:click="login">
            登录
          </a>
        </template>
        <template v-else>
          <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" v-on:click="cp">
            后台
          </a>
        </template>
      </div>
    </div>
    <hr>
    <footer class="mdl-mini-footer mdl-color--white">
      <ul class="mdl-list">
        <li class="mdl-list__item"><a class="mdl-color-text--grey-600" href="./status">服务状态</a></li>
      </ul>
    </footer>
  </div>
  <div class="mdl-cell mdl-cell--1-col"></div>
</div>
</body>
<style>
  .fade-transition {
    transition: all .3s ease;
  }

  .fade-enter, .fade-leave {
    opacity: 0;
  }

  .important {
    color: red;
  }
</style>
</html>
