<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Shiny!</title>
  <!-- dependencies -->

  <script src="./js/dependencies/jQuery.js"></script>
  <script src="./js/dependencies/js.cookie.js"></script>
  <script src="./js/dependencies/Vue.js"></script>
  <script src="./js/dependencies/Socket.io.js"></script>
  <script src="./js/dependencies/mdl.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="./styles/mdl.css">

  <!-- dependencies -->
  <script src="./js/Main.js"></script>

</head>
<body>
<div class="mdl-grid" id="app">
  <div class="mdl-cell mdl-cell--1-col"></div>
  <div class="mdl-cell mdl-cell--10-col">
    <div class="mdl-card mdl-shadow--2dp" style="width: 100%;">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">
          <span style="color:red;">已经终止服务的公告</span>
        </h2>
      </div>
      <div class="mdl-card__supporting-text">
        Shiny Web 已停止服务，相关功能请使用 Chrome Extension 完成。
      </div>
    </div>
    <hr>
    <footer class="mdl-mini-footer mdl-color--white">
      <ul class="mdl-list">
        <li class="mdl-list__item"><a class="mdl-color-text--grey-600" href="./status">服务状态</a></li>
        <li class="mdl-list__item"><a class="mdl-color-text--grey-600" href="javascript:alert('暂未公开')">获取 Chrome 扩展</a></li>
        <!--<li class="mdl-list__item">-->
          <!--<span class="mdl-color-text&#45;&#45;grey-600 alyric"></span>-->
        <!--</li>-->
      </ul>
    </footer>
  </div>
  <div class="mdl-cell mdl-cell--1-col"></div>
</div>
</body>
<style>
  .fade-transition {
    transition: all .3s ease;
  }

  .fade-enter, .fade-leave {
    opacity: 0;
  }

  .important {
    color: red;
  }
</style>
<script>
</script>
</html>
