<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <title>Shiny 服务状态</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- dependencies -->
  <script src="/js/dependencies/jQuery.js"></script>
  <script src="/js/dependencies/Socket.io.js"></script>
  <script src="/js/dependencies/Vue.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="/styles/mdl.css">
  <script defer src="/js/dependencies/mdl.js"></script>
  <!-- dependencies -->

  <script src="/js/status.js"></script>

</head>
<body>
<div class="mdl-grid" id="app">
  <div class="mdl-cell mdl-cell--1-col"></div>
  <div class="mdl-cell mdl-cell--10-col">
    <h2>Shiny 服务状态</h2>
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
      <thead>
      <tr>
        <th class="mdl-data-table__cell--non-numeric">服务</th>
        <th class="mdl-data-table__cell--non-numeric">状态</th>
      </tr>
      </thead>
      <tbody v-for="service in status">
      <tr>
        <td class="mdl-data-table__cell--non-numeric">{{service.name}}</td>
        <td class="mdl-data-table__cell--non-numeric">{{service.status}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="mdl-cell mdl-cell--1-col"></div>
</div>
</body>
<style>
  .fade-transition {
    transition: all .3s ease;
  }

  .fade-enter, .fade-leave {
    opacity: 0;
  }

  .important {
    color: red;
  }
</style>
</html>
